<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h3>Login</h3>
    <form action="/authenticate" method="POST">
        <label for="user_name">User Name:</label>
        <input name="user_name" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <button type="submit">Login</button>
    </form><br>
    <a href="/create_account">Create New Account</a>
    <table>
        <thead>
            <tr> 
                <th>Id</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for datas in data %} 
            <tr> 
                <td>{{ datas.id }}</td>
                <td>{{ datas.user_name }}</td>
                <td>{{ datas.email }}</td>
                <td>{{ datas.password }}</td>
                <td><a href="/update_user/{{ datas.id }}" type="button">Update</a></td>
                <td><a href="/delete_user/{{ datas.id }}" type="button">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>