<html>
<head>
    <title>Report Post</title>
</head>
<body>
    <a href="/home">Back to Home</a>
    <h1>Report Post</h1>
    <form action="/submit_report/{{ post.id }}" method="POST">
        <label for="reason">Reporting Reason:</label><br>
        <textarea name="reason" required></textarea><br>
        <button type="submit">Submit Report</button>
    </form>
    <h2>Reports</h2>
    <ul>
        {% for datas in data %}
            <li>{{ datas.reason }}</li>
        {% endfor %}
    </ul>
</body>
</html>
